:root {
  --dog-image-sit-url: url("/public/Dog Sprites/Dog 1 - Beagle/Sit/dog_1_sit.png");
  --dog-image-wag-url: url("/public/Dog Sprites/Dog 1 - Beagle/Wag/dog_1_wag_sheet.png");
  --dog-image-walk-url: url("/public/Dog Sprites/Dog 1 - Beagle/Walk/dog_1_walk_sheet.png");
}

/* ABOUT */
.aboutSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #8ee0f2;
}

.about {
  position: relative;
  padding: 1rem 1rem 1rem;
  width: 98%;
  margin: 0 auto;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  overflow: visible;
  background-color: #111827;
}

@keyframes runInPlace {
  /* shift the background left in equal steps to show each frame */
  from {
    background-position: 0 0;
  }
  to {
    background-position: -384px 0;
  }
}

/* Identical to runInPlace: just shifting a sprite sheet */
@keyframes wagTail {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -384px 0;
  }
}

.dogWrapper {
  position: absolute;
  top: 1rem;
  left: 50px;

  width: 48px;
  height: 32px;

  transition: transform 1.5s ease-in-out;
}

.dog_sit {
  width: 48px;
  height: 32px;

  background-image: var(--dog-image-sit-url);
  background-repeat: no-repeat;

  background-size: 48px 32px;
  transform: scale(2.5);

  image-rendering: pixelated;
  transform-origin: top center;
}

.dog_running {
  width: 48px;
  height: 32px;

  background-image: var(--dog-image-walk-url);
  background-repeat: no-repeat;

  background-size: 384px 32px;
  transform: scale(2.5);

  animation: runInPlace 0.5s steps(8) infinite;
  image-rendering: pixelated;
  transform-origin: top center;
}

.dog_wag_tail {
  width: 48px;
  height: 32px;

  background-image: var(--dog-image-wag-url);
  background-repeat: no-repeat;

  background-size: 384px 32px;
  transform: scale(2.5);

  animation: wagTail 0.3s steps(8) infinite;
  image-rendering: pixelated;
  transform-origin: top center;
}

/* bubble styling */
.bubble {
  position: absolute;
  bottom: 32px;

  cursor: pointer;

  width: 550%;

  padding: 0.5rem 0.75rem;
  background: #fff;
  border: 2px solid #111827;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.2;
}

.bubble p {
  margin: 0.25rem 0 0;
}

/* the little triangle/tail */
.bubble::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  transform: translateX(-50%);
  border-width: 0.75rem;
  border-style: solid;
  border-color: #111827 transparent transparent transparent;
  left: 10%;
}

.bubbleLeft {
  transform: translateX(-70%);
}

.bubbleLeft::after {
  left: 80%;
}

.panels {
  display: flex;
  gap: 2rem;
  margin-top: 1rem; /* give dog room to walk above */
}

/* each panel is one “stop” for the dog */
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 1;
  align-items: center;
  justify-content: center;
  border: 2px solid #f9fafb;
  background: #111827;
  color: #f9fafb;
  padding: 0.3rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: background 200ms ease, box-shadow 200ms ease, transform 200ms ease;
}

.panel:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.panel h2 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.panel.selected {
  background: #e0f4ff;
  box-shadow: 0 6px 16px rgba(0, 122, 255, 0.2);
  border: 2px solid #007aff;
  color: #000000;
  cursor: default;
}

.panel.selected:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 122, 255, 0.3);
}

/* POPUP Component */
.popupContainer {
  flex: 1;
  overflow: auto;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.stickyNav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 178px;
  z-index: 150;
  display: flex;
  justify-content: center;
}

/* ensures dogWrapper can remain absolutely positioned */
.stickyInner {
  position: relative;
  width: 100%;
  height: 100%;
}

/*---------- Responsive Design ----------*/

/* less-than-large laptop */
@media (max-width: 1024px) {
  .panel h2 {
    font-size: 1rem;
  }
}

/* tablet / small-desktop */
@media (max-width: 768px) {
  .panels {
    gap: 1rem;
  }
  .panel {
    padding: 0.2rem;
  }

  .panel h2 {
    font-size: 1rem;
  }

  .about {
    width: 90%;
  }

  /* make dog smaller */
  .dog_running {
    transform: scale(2);
  }
  .dog_sit {
    transform: scale(2);
  }
  .dog_wag_tail {
    transform: scale(2);
  }
  .dogWrapper {
    top: 2rem;
  }

  .bubble {
    padding: 0.25rem 0.5rem;
    font-size: 0.65rem;
    width: 300%;
  }

  .bubble[data-direction="1"]::after {
    left: 80%;
  }

  /* undo changes to last indexed tab */
  .bubbleLeft {
    transform: translateX(0);
  }

  .bubbleLeft::after {
    left: 0;
  }
}

/* mobile phones */
@media (max-width: 480px) {
  .panels {
    gap: 0.75rem;
  }

  .panel h2 {
    font-size: 0.75rem;
  }

  /* make dog smaller */
  .dog_running {
    transform: scale(1.5);
  }
  .dog_sit {
    transform: scale(1.5);
  }
  .dog_wag_tail {
    transform: scale(1.5);
  }
  .dogWrapper {
    top: 3rem;
  }

  .bubble {
    padding: 0.125rem 0.25rem;
    font-size: 0.65rem;
    width: 150%;
  }

  .bubble[data-direction="-1"] {
    margin-left: 20px;
  }

  .bubble[data-direction="1"] {
    margin-left: 50px;
  }

  .bubble::after {
    bottom: -1rem;
    border-width: 0.5rem;
  }

  .dogWrapper {
    left: 20px;
  }
}
